package main

import (
	"log"

	"github.com/frenki123/djan-go/latest"
)

func main() {
	srv := django.NewServer("{{.Host}}", "{{.Port}}", urlpaterns)
	err := srv.Run()
	if err != nil {
		log.Printf("Error: %s", err)
	}
}