package main

import (
	"fmt"
	"github.com/frenki123/djan-go/latest"
	"net/http"
)

func index(w http.ResponseWriter, r *http.Request) {
	godjan.HTMLResponse(w, []byte("Hello, World!"))

}

var urlpaterns = []godjan.Path{godjan.NewPath("/", handler)}
